@import "_variables.scss";
body {
  background-color: $background-color;
  color: $white;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.875em;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow;
  .title{
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    color: $logo-1;
    padding: 1.5rem;
    .title2{
      color: $logo-2;
    }
  }
  .buttons{
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    button{
      padding: 0.3rem 0.6rem;
      font-weight: bolder;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      &:nth-of-type(2){
        color: $white;
        background-color: $orange;
      }
    }
  }
}

.main{
  display: flex;
  justify-content: center;
  gap: 4rem;
  .left-section{
    margin-top: 14rem;
    position: relative;
    .upper{
      display: flex;
      .info{
        position: relative;
        left: 4rem;
        .information{
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 5rem;
          height: 5rem;
          background-color: $dark-gray;
          margin-bottom: 1rem;
        }
      }  
      .center{
        display: flex;
        align-items: center;
        gap: 1rem;
        .fas{
          padding: 2.5rem 1rem;
          font-size: 3rem;
          background-color: $dark-gray;
        }
        .photo{
          width: 55rem;
          height: 40rem;
          background-color: aliceblue;
        }
      }
    }
    .view{
      display: flex;
      justify-content: right;
      position: relative;
      left: -4.8rem;
      .number{
        font-weight: bolder;
        margin-left: 0.5rem;
      }
    }
  }

  .right-section{
    .info{
      box-shadow: $box-shadow;
      margin-top: 6rem;
      display: flex;
      gap: 1.7rem;
      .inf{
        text-align: center;
        text-transform: uppercase;
        .number{
          font-size: 1.2rem;
          font-weight: bolder;
        }
        .text{
          font-size: 0.7rem;
          font-weight: bolder;
        }
      }
    }
    .profile{
      position: relative;
      top: -4.7rem;
      display: flex;
      flex-direction: column;
      background-color: $dark-gray;
      padding: 1.5rem;
      margin-top: 10rem;
      border-radius: 10px;
      .photo{
        margin-left: auto;
        margin-right: auto;
        width: 9rem;
        height: 9rem;
        background-color: $white;
        border-radius: 100%;
        margin-bottom: 1rem;
      }
      i{
        margin-right: 0.5rem;
      }
      button{
        border: none;
        border-radius: 5px;
        height: 1.5rem;
        margin: 5px 0;
      }
      .follow{
        background-color: $orange;
        color: white;
      }
      .name{
        margin-bottom: 0.3rem;
      }
      .location{
        .fa-map-marker-alt{
          margin-right: 0.7rem;
        }
      }
    }
  }
}

// Przycisk jasny (np. zaloguj się)

// Kolor tekstu: #333333
// Kolor tła: $white
// Obramowanie: brak
// Zaokrąglenie krawędzi: niewielkie

// Przycisk pomarańczowy (np. załóż konto)

// Kolor tekstu: $white
// Kolor tła: $orange
// Obramowanie: brak
// Zaokrąglenie krawędzi: niewielkie

// Przyciski poprzedniego i następnego zdjęcia

// Kolor tekstu: rgba(211, 211, 211, 0.541)
// Kolor tła: $dark-gray
