@import '_variables.scss';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


// Poniżej znajduje się fragment pliku style.scss opisujący wygląd zdjęć oraz ich wysokości. Na podstawie jego struktury napisz html, który będzie odpowiadał przedstawionej strukturze i w połączeniu da końcowy rezultat. Podany kod powinien pozostać bez zmian i jest to jedyne miejsce opisujące wysokości obrazków oraz nadający im kolor.

.nav{
  position: sticky;
  width: auto;
  height: 80px;
  border-bottom: 2px solid $lightgray;
  .fab{
    color: red;
    font-size: 2rem;
    position: relative;
    top: 15px;
    left: 20px;
  }

  .fab:hover{
    cursor: pointer;
  }

  .strona_glowna{
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: large;
    border-radius: 30px;
    width: 150px;
    height: 60px;
    position: relative;
    top: 10px;
    left: 40px;
  }
  .strona_glowna:hover{
    cursor: pointer;
  }
  .search{
    background-color: rgb(220, 220, 220);
    color: gray;
    font-weight: bolder;
    border-radius: 30px;
    width: 78%;
    height: 60px;
    position: relative;
    top: -50px;
    left: 250px;
    .search-font{
      position: absolute;
      left: 25px;
      top: 18px;
  }

  }
  .fa-solid:hover{
    cursor: pointer;
  }
  .fa-bell{
    position: relative;
    font-size: 1.5rem;
    left: 93%;
    top: -90px;
  }
  
  .fa-comment{
    position: relative;
    font-size: 1.5rem;
    left: 94%;
    top: -90px;
  }

  .client{
    position: relative;
    font-size: 1.5rem;
    left: 97.5%;
    top: -122px;
    border: 1px solid $lightgray;
    background-color: $lightgray;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    .client-font{
      position: absolute;
      left: 11px;
      top: 5px;
    }
  }

  .client:hover{
    cursor: pointer;
  }
}

.cookies{
  padding: 20px;
  margin: 20px auto;
  border: 2px solid $lightgray;
  border-radius: 20px;
  width: 95%;
  height: 40px;

  .cookies-info{
    width: 50%;
    a{
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
  }
  
  .secondary{
    position: relative;
    top: -38px;
    background-color: $lightgray;
    border: 2px solid $lightgray;
    border-radius: 40px;
    padding: 10px 20px;
    font-weight: bolder;
    &:first-of-type {
      left: 60%;
    }
    &:nth-of-type(2) {
      left: 64%;
    }
    &:nth-of-type(3) {
      left: 68%;
    }
  }
  .secondary:hover{
    cursor: pointer;
  }
  }

  .fa-plus{
    position: absolute;
    left: 1828px;
    top: 900px;
    font-size: 2rem;
    border: 2px solid $lightgray;
    background-color: $lightgray;
    border-radius: 100%;
    padding: 17px;
  }

  .fa-question{
    position: absolute;
    left: 1829px;
    top: 990px;
    font-size: 2rem;
    border: 2px solid $lightgray;
    background-color: $lightgray;
    border-radius: 100%;
    padding: 15px 20px;
  }

  .znaczki:hover{
    cursor: pointer;
  }
  
.content {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .column {
    display: flex;
    flex-direction: column;
    > .pic {
      margin: 10px;
      background-color: grey;
      border-radius: 1.5625rem;
    }
    &:first-of-type {
      > .pic {
        &:first-of-type { height: 14rem; }
        &:nth-of-type(2) { height: 20rem; }
        &:nth-of-type(3) { height: 23rem; }
        &:nth-of-type(4) { height: 17rem; }
        &:nth-of-type(5) { height: 19rem; }
        &:nth-of-type(6) { height: 16rem; }
      }
    }
    &:nth-of-type(2) {
      > .pic {
        &:first-of-type { height: 18rem; }
        &:nth-of-type(2) { height: 20rem; }
        &:nth-of-type(3) { height: 18rem; }
        &:nth-of-type(4) { height: 19rem; }
        &:nth-of-type(5) { height: 16rem; }
        &:nth-of-type(6) { height: 20rem; }
      }
    }
    &:nth-of-type(3) {
      > .pic {
        &:first-of-type { height: 17rem; }
        &:nth-of-type(2) { height: 23rem; }
        &:nth-of-type(3) { height: 16rem; }
        &:nth-of-type(4) { height: 18rem; }
        &:nth-of-type(5) { height: 14rem; }
        &:nth-of-type(6) { height: 20rem; }
      }
    }
    &:nth-of-type(4) {
      > .pic {
        &:first-of-type { height: 19rem; }
        &:nth-of-type(2) { height: 16rem; }
        &:nth-of-type(3) { height: 17rem; }
        &:nth-of-type(4) { height: 19rem; }
        &:nth-of-type(5) { height: 16rem; }
        &:nth-of-type(6) { height: 17rem; }
      }
    }
    &:nth-of-type(5) {
      > .pic {
        &:first-of-type { height: 17rem; }
        &:nth-of-type(2) { height: 19rem; }
        &:nth-of-type(3) { height: 18rem; }
        &:nth-of-type(4) { height: 14rem; }
        &:nth-of-type(5) { height: 15rem; }
        &:nth-of-type(6) { height: 17rem; }
      }
    }
    &:nth-of-type(6) {
      > .pic {
        &:first-of-type { height: 15rem; }
        &:nth-of-type(2) { height: 17rem; }
        &:nth-of-type(3) { height: 19rem; }
        &:nth-of-type(4) { height: 14rem; }
        &:nth-of-type(5) { height: 20rem; }
        &:nth-of-type(6) { height: 18rem; }
      }
    }
    .pic:hover{
      cursor: pointer;
    }
  }
}



