@import "_variables.scss";

body {
    font-family: Roboto, Arial, sans-serif; 
    background-color: $background-color;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 60px;
    
    .start{
        display: flex;

        button{
            display: flex;
            align-items: center;
            border: 0px solid $background-color;
            background-color: $background-color;
            font-size: 20px;
            margin: 0 10px;
        }

        .name{
            margin-left: 5px;
        }

        .pl{
            position: relative;
            top: 10px;
        }
    }

    .logo{
        display: flex;

        .fa-youtube{
            display: flex;
            align-items: center;
            color: red;

        }

        .name{
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: bold;

        }

        .pl{
            font-size: 12px;
            color: gray;
        }
    }

    .center{
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            width: 50rem;
            height: 50px;
            padding: 0 10px;
            border: 1px solid rgb(193, 193, 193);
            font-size: 20px;
        }

        button{
            height: 52px;
            width: 70px;
            border-radius: 0px;
            border: 1px solid rgb(193, 193, 193);
            background-color: rgb(233, 229, 229);
            font-size: 20px;
        }
    }

    .end{
        display: flex;
        align-items: center;

        button{
            border: 0px solid $background-color;
            background-color: $background-color;
            font-size: 20px;
            margin: 0 10px;
        }

        .login{
            display: flex;
            align-items: center;
            border: 2px solid $login-color;
            color: $login-color;
            background-color: $background-color;
            padding: 0 20px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            height: 40px;

            i{
                margin-right: 10px;
                font-size: 25px;
            }
        }
    }
}

#body{
    display: flex;
    justify-content: space-between;

    #left-section{
        width: 22rem;

        li{
            list-style-type: none;
            &:nth-of-type(2){
                padding-top: 10px;
            }
            &:nth-of-type(3){
                padding-top: 10px;
            }
            &:nth-of-type(4){
                padding-top: 10px;
            }
            &:nth-of-type(5){
                padding-top: 10px;
            }
        }

        .link-group{
            border-bottom: 1px solid gray;
            font-size: 20px;

            .header{
                margin-left: 3rem;
                margin-top: 1rem;
                color: rgb(161, 161, 161);
                font-weight: bold;
                text-transform: uppercase;
            }
            
            i{
                width: 40px;
                text-align: center;
                margin: 0.5rem 0;
            }
        }

        .login-info{
            padding-left: 3rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(193, 193, 193);

            .login{
                display: flex;
                align-items: center;
                border: 2px solid $login-color;
                color: $login-color;
                background-color: $background-color;
                padding: 0 20px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                height: 40px;

                i{
                    margin-right: 10px;
                    font-size: 25px;
                }
            }
        }
    }

    #main-section{
        padding-top: 1rem;

        .buttons{
            display: flex;
            gap: 20px;
            padding-bottom: 1rem;
            padding-left: 2rem;

            button{
            height: 30px;
            border: 1px solid lightgray;
            border-radius: 20px;
            padding: 0 10px;
            font-size: 20px;
            }

            .active{
                background-color: black;
                color: white;
            }
        }

        .main-movie-section{
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            background-color: rgb(238, 238, 238);
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            
            @for $i from 1 through length($movie-colors) {
                .movie:nth-of-type(#{$i}) .movie-frame {
                  background-color: nth($movie-colors, $i);
                }
            }

            .header{
                grid-column: 1/5;
                padding: 1rem;
                font-size: 30px;
            }

            .movie{
                padding: 1rem;
                width: 22rem;
                height: fit-content;
                display: grid;
                grid-template-areas: 
                        "a a"
                        "b c";

                .movie-frame{
                    display: flex;
                    width: 22rem;
                    height: 12rem;                 
                    grid-area: a;
                }          

                .avatar{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100%;
                    grid-area: b;
                    margin-top: 1rem;
                    margin-right: 1rem;
                    background-color: lightgray;
                }

                .movie-info{
                    grid-area: c;
                    margin-top: 1rem;
                    padding-right: 3rem;
                    .title{
                        font-weight: bold;
                    }
                }
            } 
        }
    }
}