@import '_variables.scss';
body {
  background-color: rgb(28, 30, 33);
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
  width: 150px;
  height: 150px;
  border: 10px solid rgb(52, 47, 47);
  border-radius: 100%;
  background-color: rgb(27, 89, 86);
}

.change-photo{
  position: relative;
  left: 12%;
  top: -55px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.471);
  i{
    position: relative;
    left: 22.5%;
    top: 8px;
  }
}

.name{
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  top: -100px;
  left: 200px
}

.nav{
  position: relative;
  top: -100px;
  background-color: rgb(52, 47, 47);
  border-radius: 20px;
  width: 1150px;
  a{
    color: white;
    text-decoration: none;
  }
  li{
    display: inline;
    position: relative;
    top: 28px;
    margin: 0 10px;
  }
  .buttons{
    position: relative;
    top: -17px;
    left: 900px;
  }
  button{
    background-color: rgb(75, 68, 68);
    border: 1px solid rgb(75, 68, 68);
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin:0 5px;
  }
}

.container{
  position: relative;
  top: -100px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  .left{
    .box{
      width: 350px;
      height: 500px;
      background-color: rgb(75, 68, 68);
      border-radius: 15px;
      margin: 15px 0px;
      padding: 5px 10px;
      color: white;
      h2{
        padding: 0 10px;
      }
    }
    .photos {
      display: grid;
      grid-template-columns: auto auto auto;
      .photo {
        margin: 5px;
        height: 130px;
        border-radius: 10px;
        @for $i from 1 through 9 {
          &:nth-of-type(#{$i}) {
            $color: nth($colors, $i);
            color: $color;
            background-color: $color;
          }
        }
      }
    }
    .footer{
      ul{
        li{
        display: inline;
        color: white;
        text-decoration: none;
 
        }
        li:nth-of-type(1){
          margin-right: 30px;
        }
        }
      }
    }
  }

    
.right{
  color: white;
  h3{
    padding: 20px 20px 0px 20px;
  }
  .box{
    background-color: rgb(75, 68, 68);
    border-radius: 20px;
    width: 760px;
    margin-left: 20px;
    p{
      padding: 20px 20px 0px 20px;
    }
  }
  .box:nth-child(1){
    .photos{
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 2px;
      .photo{
        height: 200px;
        background-color: lightgray;
      }
      .photo:nth-child(1){
        grid-column: 1/3;
      }
      .photo:nth-child(2){
        grid-column: 3/5;
      }
      .photo:nth-child(3){
        grid-column: 5/7;
      }
      .photo:nth-child(4){
        grid-column: 1/4;
      }
      .photo:nth-child(5){
        grid-column: 4/7;
      }
    }
  }
  
  .box:nth-child(2){
    p{
      padding: 0px 20px 20px 20px;
    }
  }
  .box:nth-child(3){
    .photos{
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 2px;
      .photo{
        height: 200px;
        background-color: lightgray;
      }
      .photo:nth-child(1){
        grid-column: 1/3;
      }
      .photo:nth-child(2){
        grid-column: 3/5;
      }
      .photo:nth-child(3){
        grid-column: 5/7;
      }
      .photo:nth-child(4){
        grid-column: 1/7;
      }
    }
  }
  .box:nth-child(4){
    .photos{
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 2px;
      .photo{
        height: 200px;
        background-color: lightgray;
      }
      .photo:nth-child(1){
        grid-column: 1/7;
    }
  }
  }
  .box:nth-child(5){
    padding: 0px 0px 20px 0px;
    p{
      padding: 0px 20px 0px 20px;
    }
    a{
      color: white;
      text-decoration: none;
      padding: 20px;
      font-weight: bold;
    }
  }
  .box:nth-child(6){
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
