@import "_variables.scss";

body { font-family: BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif; }

header{
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: white;
    .logo{
        display: flex;
        align-items: center;
        padding: 1rem;
        font-size: 1.5rem;
        span{
        &:nth-of-type(1){
            font-weight: bolder;
            }
        }
    }

    .address{
        display: flex;
        align-items: center;
        div{
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            border-bottom: 2px solid white;
            padding: 0.2rem;  
        }
    }

    div{
        padding: 1rem;
        display: flex;
        align-items: center;
        button{
            font-size: 1.5rem;
            border: none;
            background-color: $primary-color;
            color: white;
        }
    }
}

.type-section{
    display: flex;
    justify-content: center;
    background-color: $type-section-background;
    box-shadow: 2px solid lightgray;
    margin-bottom: 1rem;
    .buttons{
        button{
            padding: 1rem 4rem;
            background-color: $type-section-background;
            border: none;
            font-weight: bold;
        }
        .active{
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
        }
    }
}

.category-section{
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2rem;
    button{
        border: none;
        background-color: white;
        font-weight: bold;
        &:nth-of-type(12){
            color: $primary-color;
        }
    }
    .active{
        background-color: $primary-color;
        color: white;
        padding: 0.4rem 1rem;
        border-radius: 25px;
        border: none;
    }
}

.main-section{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10rem;

    .left-main-section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        line-height: 2rem;
        .header{
            font-weight: bold;
            letter-spacing: 0.1rem;
            margin-bottom: 1rem;
        }
        .radio-button{
            position: relative;
            left: -5px;
        }
        .stars{
            i{
                font-size: 1.5rem;
                color: $type-section-background-2;
            }
        }
        .checkbox{
            position: relative;
            left: -5px;
        }
    }

    .right-main-section{
        margin-top: 1rem;
        .search{
            input{
                width: 47.5rem;
                padding: 0.7rem;
                font-size: 1rem;
                font-weight: 600;
            }
            button{
                margin-left: 0.5rem;
                border: none;
                background-color: white;
                font-size: 1.2rem;
            }
        }

        div{
            .header{
                &:nth-of-type(1){
                    margin: 2rem 0;
                    font-weight: bold;
                    font-size: 1.2rem;
                    letter-spacing: 0.1rem;
                    }
            }
            .item{
                display: flex;
                align-items: center;
                gap: 1rem;
                border: 1px solid lightgrey;
                height: 10rem;
                margin-bottom: 2rem;
                .pic{
                    height: 10rem;
                    width: 17rem;
                }
    

                .logo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    width: 6rem;
                    height: 6rem;
                    border-radius: 100%;
                    position: relative;
                    left: -4rem;
                    transform: rotate(-10deg);
                    color: $primary-color;
                    font-weight: bolder;
                }
                .info{
                    position: relative;
                    left: -4rem;
                    .header{
                        margin: 0;
                    }
                    .description{
                        font-size: 0.9rem;
                    }
                    .content{
                        display: flex;
                        gap: 1rem;
                        margin-top: 1rem;
                        div{
                            display: flex;
                            gap: 0.5rem;
                        }
                        .star{
                            color: $primary-color;
                            span{
                                color: black;
                            }
                        }
                    }
                }
            }
            @for $i from 1 through $divs-count {
                $color-index: ($i % length($item-colors)) + 1;
                .item:nth-of-type(#{$i}) .pic {
                  background-color: nth($item-colors, $color-index);
                }
            }
        }    
    }
}