@import "_variables.scss";

body {
  font-family: BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica,
    Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  color: $primary-text-color;
  width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: -2px;
  }

  #search{
    width: 80rem;
    border: 1px solid $lightgray;
    border-radius: 30px;
    padding-left: 1.5rem;
    height: 30px;
  }

  button{
    background-color: white;
    border: none;
    &:nth-of-type(4){
      border-left: 1px solid $lightgray;
      padding-left: 2.5rem;
    }
  }

  #submit{
    border: 1px solid $lightgray;
    padding: 0.5rem;
  }

  .fa-bars{
    font-size: 20px;
    padding: 10px;
  }
  
}

nav{
  display: flex;
  gap: 2.5rem;
  margin-top: 1rem;

  button{
    background-color: white;
    border: none;
    font-size: 14px;
  }

  .active{
    margin-left: 1rem;
    font-weight: bold;
  }

  .separator{
    border: 1px solid $lightgray;
  }
}

#search-section{
  height: 30rem;
  background-color: $primary-color;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .content{
    color: white;
    .header{
      font-weight: bolder;
      font-size: 3rem;
      letter-spacing: -2px;
    }
    div{
      &:nth-of-type(2){
      display: flex;
      flex-direction: column;
      }
    }

    .search{
      margin: 1rem 0;
      button{
        background-color: white;
        border: none;
        position: absolute;
        left: 34rem;
        top: 23.5rem

      }
      input{
        height: 3rem;
        width: 50rem;
        padding-left: 3rem;
        border-radius: 10px;
      }
    }
    .trending{
      color: lightgray;
    }
    span{
      font-weight: bold;
      color: white;
     }   
  }
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $gap-column;

  display: flex;
  justify-content: center;
  .first-column{
    width: $width-column;
  }
  .second-column{
    width: $width-column;
  }
  .third-column{
    width: $width-column;
  }
  .pic{
    margin: 2rem 0;
    background-color: $pic-background-color;
    .pic-info{
      visibility: hidden;
    }
  }
}

.more{
  display: flex;
  justify-content: center;
  .text{
    padding: 5px 1rem;
    margin-bottom: 2rem;
    background-color: $pic-background-color;
    border-radius: 5px;
    &:hover{
      cursor: pointer;
    }
  }
}

footer{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 3 * $width-column + 2 * $gap-column;
  border-top: 1px solid $lightgray;
  padding: 2rem 0;

  .left-section{
    display: flex;
    gap: 1.5rem;
    a{
      text-decoration: none;
      color: $primary-text-color;
    }
  }

  .right-section{
    display: flex;
    font-size: 20px;
    gap: 1.5rem;
    a{
      i{
        color: $primary-text-color;
      }
    }
  }
}
